@import "tailwindcss";

:root {
  --background: #e4eada;
  --foreground: #171717;
  --primary-color: #00955c;
  --secondary-color: #037f71;
  --paragraph-color: #4b5563;
  --card-color: #f7ffe9;
  --border-color: #024c3f;
  --chip-background: #000000ce;
  --navbar-background: #def1c0;
}

@theme inline { 
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary-color);
  --color-card: var(--card-color);
  --color-border: var(--border-color);
}

@media (prefers-color-scheme: light) {

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.nav-background {
  background: var(--navbar-background);
}

.primary-text {
  color: var(--primary-color);
}
.secondary-text {
  color: var(--secondary-color);
}
.paragraph {
  color: var(--paragraph-color);
}
.card {
  background: var(--card-color);
}
.border {
  border-color: var(--border-color);
}
.chip {
  background: var(--chip-background);

  border: 1px solid var(--border-color);

  padding: 0.5rem 1rem;

  border-radius: 9999px;

  font-size: 0.875rem;

  color: var(--background);
}

